
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {display: block;}
/* End Reset */

/* Utility classes */

.nowrap{
    white-space: nowrap;
}

.offscreen{
    position: absolute;
    left: -10000px;
}

/* End Utility classes */

body{
    font-family: "Acme" ,serif;
    min-height: 100vh;
}
.top {
    border-bottom: 2px solid black;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;

    background-color: rgb(250, 218, 150); 
    background-image: url('../Day6/img/city.png');
    background-repeat:  repeat;
    background-size: cover;
}
.h1 {
    font-size: 400%;
}

.profile-pic-figure{
    width: 35%;
}

.profile-pic-figure img{
    width: 100%;
    height: auto;
    min-width: 100%;
    border: 5px double gray;
    border-radius: 50%;
     
}
.example{
    margin-top: 1rem;
    padding: 20px;
    border:1px dotted red;
}

.example img {
    width: 25%;
    height: auto;

}